.quickstats
	padding-bottom: 20px
	margin-bottom: 20px
	background-color: #ecf0f1

	.container
		.you-are-dead
			margin-top: 10px

		.rankings-desc
			display flex
			flex-direction column
			justify-content center 
			align-items center
			padding-top 10px
			padding-bottom 10px

		.row
			.stat
				text-align center 

				.big-number
					font-size 6rem

			.stat.you-should-sign-in
				display flex
				justify-content center
				align-items center